@import '../../../styles/DefaultValueVariable.scss';

.typing__container{
  font-weight: 400;
  font-size: calc($--font-L / 5 * 3);
  line-height: 1.5;
  padding: 20px;
  height: 100%;
  width: 100%;
  display: block;

  @media (min-width: 768px) and (max-width: 1024px) {
    font-weight: 600;
    font-size: calc($--font-L / 5 * 4);
    padding: 30px;
    width: 70%;
  }

  @media (min-width: 1025px) {
    font-weight: 700;
    font-size: $--font-L;
    padding: 40px;
    width: 50%;
  }

  .typing__line:hover {
    position: relative;
    right: 0px;
    display: inline-block;

    animation: shake 1s ease infinite;
    animation-delay: .2s;

    @keyframes shake {
      100% {
        right: 0px;
      }
      50% {
        right: 10px;
      }
      0% {
        right: 0px;
      }
    }
  }
  .typing__next{
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 0px;
    clip-path: polygon(0 100%, 0 0, 100% 50%);
    background-color: white;
    height: 20px;
    cursor: pointer;
    transition: width 0.3s ease;
    &-active {
      width: 20px;
    }
  }
}