
.fade-enter {
  opacity: 0;
  background-color: red;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 3000ms;
}
