// Color ============

/* Color Theme */

$--color-gray                     : hsl(0, 0%, 45%);
$--color-gray-light               : lighten($--color-gray, 10%);
$--color-gray-dark                : darken($--color-gray, 10%);
$--color-gray-medium              : hsl(0, 0%, 72%);
$--color-gray-medium-light        : lighten($--color-gray-medium, 10%);
$--color-gray-medium-dark         : darken($--color-gray-medium, 10%);
$--color-gray-deep                : hsla(0, 0%, 20%);
$--color-gray-deep-light          : lighten($--color-gray-deep, 10%);
$--color-gray-deep-dark           : darken($--color-gray-deep, 10%);

$--color-red                      : hsl(10, 100%, 55%);
$--color-red-light                : lighten($--color-red, 10%);
$--color-red-dark                 : darken($--color-red, 10%);
$--color-red-medium               : hsl(0, 100%, 78%);
$--color-red-medium-light         : lighten($--color-red-medium, 10%);
$--color-red-medium-dark          : darken($--color-red-medium, 10%);
$--color-red-deep                 : hsl(20, 100%, 25%);
$--color-red-deep-light           : lighten($--color-red-deep, 10%);
$--color-red-deep-dark            : darken($--color-red-deep, 10%);

$--color-blue                     : hsl(210, 100%, 55%);
$--color-blue-light               : lighten($--color-blue, 10%);
$--color-blue-dark                : darken($--color-blue, 10%);
$--color-blue-medium              : hsl(190, 100%, 55%, 0.7);
$--color-blue-medium-light        : lighten($--color-blue-medium, 10%);
$--color-blue-medium-dark         : darken($--color-blue-medium, 10%);
$--color-blue-deep                : hsl(230, 100%, 25%);
$--color-blue-deep-light          : lighten($--color-blue-deep, 10%);
$--color-blue-deep-dark           : darken($--color-blue-deep, 10%);

$--color-green                    : hsl(120, 70%, 43%);
$--color-green-light              : lighten($--color-green, 10%);
$--color-green-dark               : darken($--color-green, 10%);
$--color-green-medium             : hsl(100, 75%, 57%);
$--color-green-medium-light       : lighten($--color-green-medium, 10%);
$--color-green-medium-dark        : darken($--color-green-medium, 10%);
$--color-green-deep               : hsl(130, 46%, 20%);
$--color-green-deep-light         : lighten($--color-green-deep, 10%);
$--color-green-deep-dark          : darken($--color-green-deep, 10%);

$--background-red                 : hsla(356, 15%, 18%, 0.5);
$--background-blue                : hsla(207, 16%, 22%, 0.5);
$--background-green               : hsla(87, 20%, 20%, 0.5);
$--background-gray                : hsla(0, 0%, 15%, 0.5);

$--color-gradient-gray:
  linear-gradient(
    143deg,
    #929292 0%,
    #e4e4e4 12.10%,
    #929292 30.84%,
    #e4e4e4 50.53%,
    #929292 69.10%,
    #e4e4e4 84.49%,
    #929292 100%
  );

$--color-gradient-red:
  linear-gradient(
    143deg,
    #FAA 0%,
    #FFF5F5 12.10%,
    #FAA 30.84%,
    #FFEDED 50.53%,
    #FAA 69.10%,
    #FFEDED 84.49%,
    #FAA 100%
  );
$--color-gradient-semi-red:
  linear-gradient(
    144deg,
    #FFBFBF 0%,
    #FDE2F3 68%
  );

$--color-gradient-blue:
  linear-gradient(
    143deg,
    #AACDFF 0%,
    #EDF4FF 12.10%,
    #AACDFF 30.84%,
    #EDF4FF 50.53%,
    #AACDFF 69.10%,
    #EDF4FF 84.49%,
    #AACDFF 100%
    );
$--color-gradient-semi-blue:
  linear-gradient(
    143deg,
    #CCDEF5 0%,
    #DFE1F8 68%
  );

$--color-gradient-green:
  linear-gradient(
    143deg,
    #7cceac 0%,
    #EDFFF7 12.10%,
    #7cceac 30.84%,
    #EDFFF7 50.53%,
    #7cceac 69.10%,
    #EDFFF7 84.49%,
    #7cceac 100%
  );
$--color-gradient-semi-green:
  linear-gradient(
    143deg,
    #D0F7E8 0%,
    #EEF4F7 68%
  );

// Shadow color
$--shadow-red               : 5px 5px 13px 0px #EAC0C0, -5px -5px 13px 0px #E5BEBE;
$--shadow-blue              : 5px 5px 13px 0px #c2d3eb, -5px -5px 13px 0px #bdcee5;
$--shadow-green             : 5px 5px 13px 0px #c2ebe4, -5px -5px 13px 0px #bde5d9;
$--shadow-gray              : 5px 5px 13px 0px #c4c4c4, -5px -5px 13px 0px #c9c9c9;


$back-red-map: (
  gradient: $--color-gradient-red,
  dim     : $--background-red,
  medium  : lighten($--color-red-medium-light, 10%),
  default :  $--background-red,
  shadow  : $--shadow-red,
);


$back-blue-map: (
  gradient: $--color-gradient-blue,
  dim     : $--background-blue,
  medium  : lighten($--color-blue-medium-light, 10%),
  default : $--background-blue,
  shadow  : $--shadow-blue,
);
$back-green-map: (
  gradient: $--color-gradient-green,
  dim     : $--background-green,
  medium  : lighten($--color-green-medium-light, 10%),
  default : $--background-green,
  shadow  : $--shadow-green,
);
$back-gray-map: (
  gradient: $--color-gradient-gray,
  dim     : $--background-gray,
  medium  : lighten($--color-gray-medium-light, 10%),
  default : $--background-gray,
  shadow  : $--shadow-gray,
);

$--backcolors-map: (
  red: $back-red-map,
  blue: $back-blue-map,
  green: $back-green-map,
  gray: $back-gray-map,
);

$gray-map: (
  default      : $--color-gray,
  default-light: $--color-gray-light,
  default-dark : $--color-gray-dark,
  medium       : $--color-gray-medium,
  medium-light : $--color-gray-medium-light,
  medium-dark  : $--color-gray-medium-dark,
  deep         : $--color-gray-deep,
  deep-light   : $--color-gray-deep-light,
  deep-dark    : $--color-gray-deep-dark
);

$red-map: (
  default      : $--color-red,
  default-light: $--color-red-light,
  default-dark : $--color-red-dark,
  medium       : $--color-red-medium,
  medium-light : $--color-red-medium-light,
  medium-dark  : $--color-red-medium-dark,
  deep         : $--color-red-deep,
  deep-light   : $--color-red-deep-light,
  deep-dark    : $--color-red-deep-dark
);

$blue-map: (
  default      : $--color-blue,
  default-light: $--color-blue-light,
  default-dark : $--color-blue-dark,
  medium       : $--color-blue-medium,
  medium-light : $--color-blue-medium-light,
  medium-dark  : $--color-blue-medium-dark,
  deep         : $--color-blue-deep,
  deep-light   : $--color-blue-deep-light,
  deep-dark    : $--color-blue-deep-dark
);

$green-map: (
  default      : $--color-green,
  default-light: $--color-green-light,
  default-dark : $--color-green-dark,
  medium       : $--color-green-medium,
  medium-light : $--color-green-medium-light,
  medium-dark  : $--color-green-medium-dark,
  deep         : $--color-green-deep,
  deep-light   : $--color-green-deep-light,
  deep-dark    : $--color-green-deep-dark
);

$--colors-map: (
  red: $red-map,
  blue: $blue-map,
  green: $green-map,
  gray: $gray-map,
);

$--color-black                    : #222222;
$--color-white                    : #FFFFFF;
$--color-white-opacity90          : rgba(255, 255, 255, .9);
$--color-white-opacity60          : rgba(255, 255, 255, .6);
$--color-white-opacity40          : rgba(255, 255, 255, .4);
$--color-white-opacity30          : rgba(255, 255, 255, .3);



$--color-orange                   : #E99160;
$--color-pink                     : #C97FCC;

$--color-purple                   : #97617E80;

$--color-green-header             : #DAF4E9;

$--color-primary                  : #121952;
$--color-primary-light            : #EDF4FF;
$--color-primary-medium           : #5B71AF;
$--color-primary-medium-light     : #A8B1CC;
$--color-primary-deep             : #3776A4;
$--color-primary-able             : #4E96FF;
$--color-primary-header           : #DEEBFF;


$--color-chatting                 : #9BBAD1;

$--color-aqua         : #00ffff;
$--color-gray         : #808080;
$--color-orange       : #ffa500;
$--color-brown        : #a52a2a;
$--color-blue         : #0051ff;
$--color-hotpink      : hotpink;


// Scroll color
$--scroll-red               : #B67E7E;
$--scroll-blue              : #7E84B6;
$--scroll-green             : #7EB6A5;


// Scroll color
$--scroll-red               : #B67E7E;
$--scroll-blue              : #7E84B6;
$--scroll-green             : #7EB6A5;

// Font weight
$--weight-bold              : 700;
$--weight-semi-bold         : 500;
$--weight-regular           : 400;

// Font size
$--font-XL: 60px;
$--font-L : 40px;
$--font-M : 25px;
$--font-S : 15px;

