@use "sass:map";
@import 'styles/DefaultValueVariable.scss';

.section {
  padding: calc(8% + 40px) 40px 40px 40px;
  height:100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  display: grid;
  grid-template-rows: 15% 85%;

  @media (min-width: 768px) {
    grid-template-rows: 25% 75%;
  }

}
